@font-face {
    font-family: 'KivaPostGrot--book';
    src: url(../css/KivaPostGrot-Book.eot) format('eot');
    src: url(../css/KivaPostGrot-Book.woff) format('woff');
    src: url(../css/KivaPostGrot-Book.ttf) format('truetype');
    font-weight: normal;
  }

@font-face {
    font-family: 'KivaPostGrot--medium';
    src: url(../css/KivaPostGrot-Medium.eot) format('eot');
    src: url(../css/KivaPostGrot-Medium.woff) format('woff');
    src: url(../css/KivaPostGrot-Medium.ttf) format('truetype');
    font-weight: medium;
  }


  @font-face {
    font-family: 'KivaPostGrot--light';
    src: url(../css/KivaPostGrot-Light.eot) format('eot');
    src: url(../css/KivaPostGrot-Light.woff) format('woff');
    src: url(../css/KivaPostGrot-Light.ttf) format('truetype');
    font-weight: medium;
  }



